<aside>
	<div class="panel radius">
		<h3>Coștiui</h3>
		<p>Coștiui (în maghiară Rónaszék și în ucraineană Коштіль) este un sat în comuna Rona de Sus din județul Maramureș, Transilvania, România.</p>
                <p>Satul Costiui este situat în nordul României, în Depresiunea Maramuresului, fiind marginit de localitatea Bârsana în Sud, localitatea Valea Stejarului în Sud-Vest, localitatea Petrova în Est si localitatea Rona de Sus în Vest.</p>
		<p>Satul Costiui se situeaza pe DN186A, la o distanta de 20 de km de municipiul Sighetu Marmatiei, 47 de km de orasul Viseu de Sus si 80 de km de municipiul Baia Mare.</p>
	</div>

  <img class="b30" src="https://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Reclama+Ta+Aici" alt="">


	<div class="border-dotted radius b30">
		<img src="https://media.costiui.net/user/tibor-andorfi/ronaszek-tajkep.jpg" alt="uh, Placekitten">
		<p class="text-left">
			Fotografie aeriană cu drona <a href="https://www.costiui.net/fotografi/poze-cu-drona/">Poze cu Drona!</a>
		</p>
	</div>
	
</aside>
